<!doctype html>
<html>

<head>
  <title>jQuery/AJAX Demo</title>
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>

  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
<div class="container">

  <div class="page-header">
    <h1>Ubermelon AJAX Demo</h1>
  </div>


  <!-------------- EXAMPLE 1: SIMPLE GET REQUEST ---------------->

  <p class="lead">Buy Our <span id="adjective"></span> Melons</p>

  <script src="/static/js/adjective.js"></script>


  <!-------------- EXAMPLE 2: ORDER STATUS ---------------->

  <h2>Order Status</h2>

  <p>
    Your order number is <b>123</b>.
    Status: <b id="order-status">(not yet known)</b>
  </p>

  <button id="update-status" class="btn btn-primary">Get status</button>

  <script src="/static/js/order-status.js"></script>

  <!-------------- EXAMPLE 3: SUBMIT ORDER ---------------->


  <h2>Order Form</h2>

  <form id="order-form" method="post" action="/new-order">

    <div class="form-group">
      <label for="type-field">Melon Type</label>
      <select name="melon_type" class="form-control" id="type-field">
        {% for melon in melons %}
          <option value="{{ melon }}">{{ melon }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="amount-field">Amount</label>
      <input type="number" class="form-control" name="amount" id="amount-field">
    </div>

    <input type="submit" class="btn btn-primary">

  </form>

  <script src="/static/js/submit-order.js"></script>


  <!-------------- EXAMPLE 4: DELIVERY TIME ---------------->

  <h2>Ubermelon Delivery Estimate</h2>

  <form id="delivery-form" method="get" action="/delivery-info.json">
    <div class="form-group">
      <label for="adr-field">Address</label>
      <input type="text"
             class="form-control"
             name="address"
             id="adr-field"
             value="123 Main Street">
    </div>
    <div class="form-group">
      <label for="city-field">City</label>
      <select id="city-field" name="city" class="form-control">
        <option value="SF">San Francisco</option>
        <option value="Oak">Oakland</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary">
    </div>
  </form>

  <script src="/static/js/delivery-time.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
</div>
</body>
</html>
