@import url('https://fonts.googleapis.com/css?family=Quicksand|Nunito');

body {
  font-family: 'Nunito', 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

.fade-in-color {
  color: rgb(243, 55, 181);;
  transition: 0.5s color ease;
}

.fade-in-color:hover {
  color: rgb(55, 170, 243);
  text-decoration: none;
}

.line-wipe {
  position: relative;
  text-decoration: none !important;
  display: inline-block;
}

.line-wipe:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 2px solid rgb(55, 170, 243);
  transition: 0.5s width;
}

.line-wipe:hover:after {
  width: 100%;
  border-bottom-color: rgb(0, 86, 179);
}

.custom-input {
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid black;
}

.custom-input:focus {
  border-bottom: 2px solid rgb(55, 170, 243);
}

.custom-input-2 {
  border: 0;
  background: #eee;
  padding: 0.5em;
}

.custom-input-2:focus {
  box-shadow: 0 1px 5px #aaa;
}

.custom-button-1 {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: 2px 2px 0 black;
  background: white;
}

.custom-button-1:hover {
  background: black;
  color: white;
  box-shadow: 2px 2px 0 gray;
}
