.background-video {
  position: relative;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.override header {
  /* Darken background so you can see text */
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.3), rgba(0,0,0,0));
}
